<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">QuizBox is a simple full stack application (under development) which offers users access to trivia questions of their chosen category. The questions are provided by the Open Trivia Database (OpenTDB). Test your skills through 10 simple questions! </p></div>
            <div class="col-lg-4 me-auto"><p class="lead">This program was developed by Adit Sinha. It uses front-end technologies like Angular and Bootstrap and back-end technologies like Node.js and Python. Read more about the development process and code below!</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://github.com/">
                <i class="fas fa-download me-2"></i>
                Access the Code!
            </a>
        </div>
    </div>
</section>