<!-- Portfolio Section-->
<section class="page-section portfolio" id="quiz">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Grab a fact!</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p align = "center" style="font-size: 25px;"> Choose any of the following categories to get 10 random facts! </p>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[0].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                        [id]="list[0].id"
                        [img]="list[0].img"
                        [text]="list[0].text"
                        [title] = "list[0].title"
                    />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[1].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                        [id]="list[1].id"
                        [img]="list[1].img"
                        [text]="list[1].text"
                        [title] = "list[1].title"
                    />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[2].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                        [id]="list[2].id"
                        [img]="list[2].img"
                        [text]="list[2].text"
                        [title] = "list[2].title"
                    />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[3].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                        [id]="list[3].id"
                        [img]="list[3].img"
                        [text]="list[3].text"
                        [title] = "list[3].title"
                    />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[4].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                    [id]="list[4].id"
                    [img]="list[4].img"
                    [text]="list[4].text"
                    [title] = "list[4].title"
                    />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="'#portfolioModal' + list[5].id">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <app-popup
                    [id]="list[5].id"
                    [img]="list[5].img"
                    [text]="list[5].text"
                    [title] = "list[5].title"
                    />
                </div>
            </div>
        </div>
    </div>
</section>